# ترجمة التطبيق
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# إعدادات خاصة بالمطوّر
.idea/
*.iml
android/app/local.properties
android/.gradle/
ios/Pods/
ios/.symlinks/

# المفاتيح والسرية
*.jks
*.keystore

# ملفات مولّدة تلقائيًا خاصة بجهاز المطوّر
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
